.panel {

    background: $themeColor6;
    border-color: $themeColor6;
    border: none;
    color: $themeColor4;

    &.panel-default > .panel-heading {
        background: $themeColor7;
        border-color: $themeColor7;
        border: none;
        color: $themeColor4;
    }

}